@font-face {
    font-family: 'robotoregular';
    src: url('Fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('Fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('Fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('Fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('Fonts/roboto-light-webfont.woff2') format('woff2'),
         url('Fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('Fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('Fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body,
html {
  height: 100%;
  margin: 0;

  --bar-button-color: #1992d4;
  --main-bg-accent-color: #ffffff;
  --main-content-bg-color: #e2e8f0;
}

/* Container Styling */

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    background-color: #cdd2d9;
    row-gap: 5px;
}

/* Sidebar Styling */

.sidebar {
    /* colors */
    background-color: var(--bar-button-color);
    color: var(--main-bg-accent-color);

    /* sidebar position */
    grid-row: 1 / 3;
    padding-left: 30px;

    /* sidebar grid */
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 2fr;

    gap: 20px;
    font-family: 'robotobold';
    font-size: 18px;
}

.dashboard {
    font-size: 22px;
}

.dashboard,
.navigation > *,
.preferences > * {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

/* Sidebar Icon Images sizes */
.dashboard > svg {
    fill: var(--main-bg-accent-color);
    width: 3rem;
    height: 3rem;
}

.sidebar > div > div > svg,
.sidebar > div > a > svg {
    justify-self: center;
    fill: var(--main-bg-accent-color);
    width: 1.5rem;
    height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    opacity: 50%;
}

/* Header Styling */

.header {
    background-color: var(--main-bg-accent-color);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2fr 1fr;

    font-family: 'robotobold';
}

.welcome-user {
    margin-left: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1.5fr;
}

.welcome-user > img {
    width: 75px;
    height: 75px;
    grid-row: 1 / span 2;
    place-self: center end;
    padding-right: 20px;
}

.welcome-user > p:first-of-type {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
    align-content: end;
}

.welcome-user > p:last-of-type {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 22px;
}

.modify-buttons {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

.modify-buttons > button {
    font-size: 16px;
    font-family: 'robotobold';

    color: #FFFFFF;
    background-color: var(--bar-button-color);

    border: none;
    border-radius: 20px;

    padding: 8px 30px;
    cursor: pointer;

    box-shadow: 0px 1px 2px #dddedf;
}

button:hover {
    opacity: 50%;
}

.main-content {
    background-color: var(--main-content-bg-color);
}